EMBEDDING_URL=http://host.docker.internal:8803
USERNAME=plant
HOST_UID=1003
HOST_GID=1003
PIPELINE_URL=http://host.docker.internal:8800
JAX_PLATFORM_NAME=cpu
JAX_PLATFORMS=cpu
KASA_USERNAME=un@example.com
KASA_PASSWORD=pw
MKL_NUM_THREADS=1
NPROC=1
OMP_NUM_THREADS=1
OPENBLAS_NUM_THREADS=1
XLA_FLAGS="--xla_cpu_multi_thread_eigen=false intra_op_parallelism_threads=1"
XLA_PYTHON_CLIENT_PREALLOCATE=false
