# ignore data folder
data

# Ignore workspaces 
*.code-workspace

# ignore all results
results
results/
results.tar*
.tmp/
*.out
images/

# ignore some personal work
test_notebooks/
old_work

# ignore checkpoints
checkpoints
checkpoints/

# ignore python caches
ENV/
env/
.venv/
__pycache__
*.pyc
.pytest_cache

.pdm-python
pdm.lock

# ignore test experiments
test.json

# ignore editor settings
.vscode

# ignore build folder
build
build/
**.egg-info/

*.mp4
wandb
