services:
  zone1:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/Constant1.json -i 0 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
  zone2:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC2.json -i 1 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone3:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC3.json -i 2 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone4:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC4.json -i 3 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone5:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC5.json -i 4 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone6:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC6.json -i 5 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone7:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/Constant7.json -i 6 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone8:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC8.json -i 7 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone9:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC9.json -i 8 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone10:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC10.json -i 9 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone11:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC11.json -i 10 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  zone12:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/main_real.py -e experiments/online/E14/P1/InAC12.json -i 11 --deploy
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  grounding-dino:
    build:
      context: api/grounding_dino
      dockerfile: Dockerfile
    networks:
      - plant-rl
    privileged: true
    restart: unless-stopped
    volumes:
      - ./api/grounding_dino:/app
      - ~/.cache:/root/.cache:cached
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  segment-anything:
    build:
      context: api/segment_anything
      dockerfile: Dockerfile
    networks:
      - plant-rl
    privileged: true
    restart: unless-stopped
    volumes:
      - ./api/segment_anything:/app
      - ~/.cache:/root/.cache:cached
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu

  monitor:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - plant-rl
    volumes:
      - .:/app:cached
      - ~/.ssh:/root/.ssh:cached
      - ~/.gitconfig:/root/.gitconfig:cached
      - ~/.config:/root/.config:cached
      - ~/.wakatime.cfg:/root/.wakatime.cfg:cached
      - ~/.cache:/root/.cache:cached
      - ~/.netrc:/root/.netrc:cached
      - /extra-storage:/data:cached
    restart: unless-stopped
    command: uv run python src/monitor.py --interval 300 --memory-threshold 0.9 --disk-threshold 0.9

networks:
  plant-rl:
    name: plant-rl
