services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:80
    privileged: true
    restart: unless-stopped
    volumes:
      - .:/app
      - /data/plant-rl:/data/plant-rl:cached
