/*place global styles here */
html, body { @apply h-full overflow-hidden; }
@font-face {
	font-family: 'Playfair Display';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
	font-display: swap;
}

/*:root {
    --theme-font-family-base: 'Playfair Display', sans-serif;
    --theme-font-family-heading: 'Playfair Display', sans-serif;
}
*/